* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
h2 {
  text-align: center;
  margin-top: 10px;
}
#status {
  font-size: 1.2rem;
  font-weight: 500;
}
.board {
  margin: 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
}
.box {
  display: block;
  width: 50px;
  height: 50px;
  background-color: hsl(0, 0%, 50%);
  text-transform: uppercase;
  display: grid;
  place-items: center;
}
.box:hover {
  background-color: hsl(0, 0%, 60%);
  cursor: pointer;
}
button {
  padding: 0 5px;
  border: 1px solid gray;
  border-radius: 5px;
}
button:hover {
  background-color: gray;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}
